/*********************/
/*  SEARCH FORM CSS  */
/*********************/

#search_form_container{
    margin-top: 40px;
    border-radius: 20px;
    background-color: rgba(223, 223, 223, 0.25);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    width: 620px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_form_container #search_form_heading{
    width: 100%;
    display: flex;
    justify-content: center;
}

#search_form_container  #search_form_heading span{
    color: #e8e8e8;
    font-size: 30px;
    margin-top: 18px;
    margin-bottom: 7px;
    font-family: "Merriweather", serif;
}

#search_form_container #search_form_container_line{
    height: 1px;
    background-color: #e8e8e8;
    width: 90%;
}

#search_form_container #search_events_form{
    width: 90%;
    margin-top: 10px;
}

#search_form_container #search_events_form label{
    font-size: 15px;
    color: #64b4bf;
    margin-top: 10px;
}

#search_form_container #search_events_form .required-field::after{
    content: "*";
    color: red;
}

#search_form_container #search_events_form input{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    border-radius: 7px;
    margin-top: 4px;
    font-size: 15px;
}

#search_form_container #search_events_form #keyword_box{
    margin-top: 10px;
}

#search_form_container #search_events_form #keywordID{
    width: 100%;
}

#search_form_container #search_events_form #segment{
    width: 40%;
}

#search_form_container #search_events_form select{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 15px;
}
#search_form_container #search_events_form option{
    background-color: rgba(56, 56, 56, 0.3);
}

#search_form_container #search_events_form input[type=checkbox] {
    transform: scale(1);
    margin-right: 3px;
    margin-top: 8px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

#search_form_container #search_events_form #distance_and_category_box{
    display: flex;
    justify-content: space-between;
}

#search_form_container #search_events_form #distance_and_category_box #distance{
    width: 80%;
}

#search_form_container #search_events_form #distance_and_category_box #distance #radius{
    width: 80%;
}

#search_form_container #search_events_form #distance_and_category_box #category_box{
    width: 55%;
}

#search_form_container #search_events_form #distance_and_category_box #category_box select{
    width: 80%;
}

#search_form_container #search_events_form #locationID{
    width: 100%;
}

#search_form_container #search_events_form #search_form_buttons_box{
    margin-top: 20px;
    margin-bottom: 20px;
}

#search_form_buttons_box{
    display: flex;
    justify-content: center;
}

#search_form_buttons_box button{
    margin: 10px;
}


.mat-spinner-css{
    width: 22px;
    height: 22px;
    margin: 0px;
    padding: 0px;
}

#checkboxBox{
    display: flex;
    align-items: center;
}

table{
    text-align: center;
    margin-top: 50px;
    border-radius: 0.5em;
}

#search_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#outterBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart-button {
    background-color: white;
    border: none;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

.back-button{
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
}

.red-heart-button{
    fill: red;
}

.noRecordFound{
    background-color: white;
    color: red;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 0.5em;
    margin-top: 50px;
}

#showEventDetails{
    margin-top: 50px;
    width: 750px;
    background-color: rgba(223, 223, 223, 0.25);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    margin-bottom: 50px;
}

#showEventDetails label{
    color: #9afce4;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 15px;
}

#outterContainer{
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

#leftContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rightContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rightContainer img{
    max-height: 90%;
    max-width: 90%;
}

.mat-tab-header{
    background-color: #489886;
}

#eventNameHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

#eventName{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

#eventName button{
    margin-left: 3px;
}

.ticketStatus{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: fit-content;
    border-radius: 8px;
    margin: 0px;
}

.pointer:hover{
    cursor: pointer;
}

#outterContainerVenueDetails{
    display: flex;
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#outterContainerVenueDetails p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#innerRightContainerVenueDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#innerLeftContainerVenueDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.limitTextHeight {
    height: 37px;
    overflow: hidden;
}

.bottonFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 20px;
}

#socialIcons{
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#socialIcons a{
    padding: 3px;
}

table{
    width: 70%;
}

.artistContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right:100px;
}

.artistUpperContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.artistUpperContainer img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.f1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 40%;
    text-overflow: initial;
}

.f1 label h5{
   text-align: center;
}

.f2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    width: 20%;
    margin-top: 20px;
}

.f2 label{
    font-size: 17px;
}

.f2  a svg{
    font-size: 24px;
}

.lowerAC{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.lowerAC img{
    margin-top: 10px;
    width: 175px;
    height: 175px;
}

input:disabled{
    background-color: white;
}

ngb-carousel{
    height: 490px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carousel-control-next-icon svg{
    fill: black;
    color: black;
    background-color: black;
}

.noH{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noArtistsFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.noArtistsFoundMessage{
    margin-top: 60px;
    background-color: white;
    color: red;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80%;
    height: 100%;
    text-align: center;
}

.tableDiv{
    width: 100%;
    overflow-x: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 620px) {

    #outterBox{
        min-width: 100%;
        padding: 3px;
    }
    #search_form_container {
      width: 100%;
    }

    #distance_and_category_box{
        display: flex;
        flex-direction: column;
    }

    #search_form_container #search_events_form #distance_and_category_box #distance{
        width: 100%;
    }
    
    #search_form_container #search_events_form #distance_and_category_box #distance #radius{
        width: 100%;
    }

    #search_form_container #search_events_form #distance_and_category_box #category_box{
        width: 100%;
    }

    #showEventDetails{
        width: 100%;
    }

    #outterContainer{
        flex-direction: column;
    }
    
    #leftContainer{
        width: 100%;
    }

    #rightContainer{
        margin-top: 25px;
        width: 100%;
    }

    .table{
        width: fit-content;
    }

    .f1{
        margin-top: 5px;
        margin-right: 35px;
        width: 100%;
    }

    .artistUpperContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lowerAC{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
    }
    .lowerAC img{
        margin-top: 15px;
    }

    #innerRightContainerVenueDetails{
        width: 100%;
    }

    #innerLeftContainerVenueDetails{
        width: 100%;
    }

    #outterContainerVenueDetails{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    ngb-carousel{
        height: 1100px;
    }

    ngb-carousel label{
        margin-top: 20px;
    }

    .f1{
        margin-right: 0px;
    }

    .f2{
        width: 100%;
        margin-top: 10px !important;
    }

    .f2 label{
        margin-top: 2px !important;
    }

    .info{
        margin-top: 5px;
        width: 175px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .noRecordFound{
        width: 100%;
    }

    #eventName{
        margin-right: 2px;
        width: 85%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tableDiv{
        align-items: flex-start;
    }

}

@media screen and (max-width: 750px) {
    #showEventDetails{
        max-width: 100%;
    }
}

::ng-deep.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='ffff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
}

::ng-deep.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='ffff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

::ng-deep.mdc-tab__text-label{
    color: white !important;
}

::ng-deep.mdc-tab-indicator__content{
    background-color: #3e51b5 !important;
    color: #3e51b5 !important;
    border-color: #3e51b5 !important;
}
::ng-deep.mdc-tab-indicator__content--underline{
    background-color: #3e51b5 !important;
    color: #3e51b5 !important;
    border-color: #3e51b5 !important;
}