<div id = "outterBox">
    <!-- SEARCH FORM CONTAINER -->
    <div id="search_form_container">

        <div id = "search_form_heading">
            <span>Events Search</span>
        </div>

        <div id="search_form_container_line"></div>

        <form class="form" id="search_events_form" method="post"  autocomplete="off" [formGroup]="searchEventsForm">              
            <label style="display: block;" class="required-field" >Keyword</label>
            <input type="text"
                    placeholder=""
                    matInput
                    formControlName="keyword"
                    [matAutocomplete]="auto"
                    class = "keywordInput"
                    id = "keywordID"
                    required>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner class="mat-spinner-css" style="height: 30px; width:30px;"></mat-spinner></mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let event of filteredEvents" [value]="event">
                    <span>{{event}}</span>
                </mat-option>
            </ng-container>
            </mat-autocomplete>
               

            <div id="distance_and_category_box" style="margin-top: 8px;">

                <div id="distance">
                    <label style="display: block;" class="required-field">Distance</label>
                    <input style="display: block; margin-top: 6px;" type="number" placeholder="10" id="distance" min="1" formControlName="distance"/>
                </div>

                <div id ="category_box">
                    <label style="display: block;" class="required-field">Category</label>
                    <select id="segment" formControlName="segment">
                        <option *ngFor="let s of segments" [ngValue]="s">{{ s }}</option>
                    </select>
                </div>
            </div>

            <div class="location_box"  style="margin-top: 15px;">
          
                <label class="required-field" style="margin-top: 0px;">Location</label>
                <input type="text" id="locationID" formControlName="location" required/>
                <div id="checkboxBox">
                    <input type="checkbox" id="autoDetectID" name="auto_detect_location" formControlName="autoDetection" (click)="toggleDisableLocation()"><label>Auto-detect your location</label>
                </div>
            
            </div>

            <div id = "search_form_buttons_box">
                <button id="submit_search_form" class="btn btn-danger" (click)="submitSearchForm()">SEARCH</button>
                <button id="clear_search_form" (click)="clearSearchForm()" class="btn btn-primary">CLEAR</button>
            </div>

        </form>
    </div>

    <!-- TABLE -->
    <table class="table table-striped table-dark" *ngIf="showTable && recordFound">
        <thead>
            <tr class="table-dark">
                <th scope="col" class="table-dark">Date/Time</th>
                <th scope="col" class="table-dark">Icon</th>
                <th scope="col" class="table-dark">Event</th>
                <th scope="col" class="table-dark">Genre</th>
                <th scope="col" class="table-dark">Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of eventsInformation;">
                <td scope="row" class="table-dark">{{event.date}} <br> {{event.time}}</td>
                <td class="table-dark">
                    <img
                        [src]="event.imageSrc"
                        class="me-2"
                        style="width: 50px; height: 50px;"
                    />
                </td>
                <td class="table-dark" (click)="showEventDetails(event.id)" class="pointer">{{event.name}}</td>
                <td class="table-dark">{{event.genre}}</td>
                <td class="table-dark">{{event.venue}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="noRecordFound && showTable" class="noRecordFound">
        No results available
    </div>

    <!-- Event Details -->
    <div *ngIf="showDetails" id="showEventDetails">
        <button (click)="back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>Back</button>
        <div id="eventNameHeading">
            <p>{{eventDetails.eventName}}</p>
            <button ngClass="heart-button" (click)="addOrRemoveFromFavorites(eventDetails.id, eventDetails.eventDate, eventDetails.genres, eventDetails.venue, eventDetails.eventName)">
                <svg *ngIf="isIdNotInFavorites(eventDetails.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                <svg *ngIf="isIdInFavorites(eventDetails.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </button>
        </div>
        <mat-tab-group 
            [backgroundColor]="'primary'"
            [mat-stretch-tabs]="false"
            mat-align-tabs="center"
            >
            <mat-tab label="Events">
                <div id="outterContainer">
                    <div id="leftContainer">
                        <label *ngIf="eventDetails.eventDate && eventDetails.eventDate.length > 0">Date</label>
                        <div *ngIf="eventDetails.eventDate && eventDetails.eventDate.length > 0">{{eventDetails.eventDate}}</div>
                        <label *ngIf="eventDetails.artistOrTeam && eventDetails.artistOrTeam.length > 0">Artist/Team</label>
                        <div *ngIf="eventDetails.artistOrTeam && eventDetails.artistOrTeam.length > 0">{{eventDetails.artistOrTeam}}</div>
                        <label *ngIf="eventDetails.venue && eventDetails.venue.length > 0">Venue</label>
                        <div *ngIf="eventDetails.venue && eventDetails.venue.length > 0">{{eventDetails.venue}}</div>
                        <label *ngIf="eventDetails.genres && eventDetails.genres.length > 0">Genres</label>
                        <div *ngIf="eventDetails.genres && eventDetails.genres.length > 0">{{eventDetails.genres}}</div>
                        <label *ngIf="eventDetails.priceRange && eventDetails.priceRange.length > 0">Price Ranges</label>
                        <div *ngIf="eventDetails.priceRange && eventDetails.priceRange.length > 0">{{eventDetails.priceRange}}</div>
                        <label *ngIf="eventDetails.ticketStatus && eventDetails.ticketStatus.length > 0">Ticket Status</label>
                        <div class="ticketStatus" *ngIf="eventDetails.ticketStatus=='onsale'" style="background-color: green;">On Sale</div>
                        <div class="ticketStatus" *ngIf="eventDetails.ticketStatus=='offsale'" style="background-color: red;">Sold Out</div>
                        <div class="ticketStatus" *ngIf="eventDetails.ticketStatus=='cancelled'" style="background-color: black;">Cancelled</div>
                        <div class="ticketStatus" *ngIf="eventDetails.ticketStatus=='rescheduled'" style="background-color: orange;">Rescheduled</div>
                        <div class="ticketStatus" *ngIf="eventDetails.ticketStatus=='postponed'" style="background-color: orange;">Postponed</div>
                        <label *ngIf="eventDetails.buyTicketAt && eventDetails.buyTicketAt.length > 0">Buy Ticket At:</label>
                        <div *ngIf="eventDetails.buyTicketAt && eventDetails.buyTicketAt.length > 0"><a href="{{eventDetails.buyTicketAt}}" target="_blank">Ticketmaster</a></div>
                    </div>
                    <div id="rightContainer">
                        <img [src]="eventDetails.seatMap">
                    </div>
                </div>
                <div id="socialIcons">
                    Share on:
                    <a [href]="getTwitterURL(eventDetails.eventName, eventDetails.buyTicketAt)" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1d9bf0" class="bi bi-twitter" viewBox="0 0 16 16">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                    </svg></a>
                    <a target="_blank" [href]="getFBURL(eventDetails.buyTicketAt)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="#1874eb"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/>
                    </svg></a>
                </div>
            </mat-tab>

            <mat-tab label="Artist/Teams">
                <ngb-carousel
                    *ngIf="artists && artists.length > 0"
                    [showNavigationArrows]="true"
                    [showNavigationIndicators]="false"
                    [interval]="0"
                >
                    <ng-template ngbSlide *ngFor="let artist of artists">
                        <div class="artistContainer">
                            <div class="artistUpperContainer">
                                <div class="f1">
                                    <img [src]="artist.artistImage" *ngIf="artist.artistImage && artist.artistImage.length>0">
                                    <label *ngIf="artist.name && artist.name.length>0"><h6>{{artist.name}}</h6></label>
                                </div>
                                <div class="f2" *ngIf="artist.popularity">
                                    <label>Popularity</label>
                                    <circle-progress
                                        [percent]="artist.popularity"
                                        [radius]="16"
                                        [outerStrokeWidth]="4"
                                        [outerStrokeColor]="'#c20030'"
                                        [innerStrokeColor]="'#C7E596'"
                                        [animation]="true"
                                        [animationDuration]="0"
                                    ></circle-progress>
                                </div>
                                <div class="f2" *ngIf="artist.followers">
                                    <label>Followers</label>
                                    <p>{{artist.followers | number:'1.0':'en-US'}}</p>
                                </div>
                                <div class="f2" *ngIf="artist.spotifyLink && artist.spotifyLink.length>0">
                                    <label>Spotify Link</label>
                                    <a [href]="artist.spotifyLink" target="_blank" style="margin-top: 4px;">
                                    <svg width="26px" height="26px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Color-" transform="translate(-200.000000, -460.000000)" fill="green">
                                                <path d="M238.16,481.36 C230.48,476.8 217.64,476.32 210.32,478.6 C209.12,478.96 207.92,478.24 207.56,477.16 C207.2,475.96 207.92,474.76 209,474.4 C217.52,471.88 231.56,472.36 240.44,477.64 C241.52,478.24 241.88,479.68 241.28,480.76 C240.68,481.6 239.24,481.96 238.16,481.36 M237.92,488.08 C237.32,488.92 236.24,489.28 235.4,488.68 C228.92,484.72 219.08,483.52 211.52,485.92 C210.56,486.16 209.48,485.68 209.24,484.72 C209,483.76 209.48,482.68 210.44,482.44 C219.2,479.8 230,481.12 237.44,485.68 C238.16,486.04 238.52,487.24 237.92,488.08 M235.04,494.68 C234.56,495.4 233.72,495.64 233,495.16 C227.36,491.68 220.28,490.96 211.88,492.88 C211.04,493.12 210.32,492.52 210.08,491.8 C209.84,490.96 210.44,490.24 211.16,490 C220.28,487.96 228.2,488.8 234.44,492.64 C235.28,493 235.4,493.96 235.04,494.68 M224,460 C210.8,460 200,470.8 200,484 C200,497.2 210.8,508 224,508 C237.2,508 248,497.2 248,484 C248,470.8 237.32,460 224,460" id="Spotify"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <label style="font-size: 14px;"><p>Album featuring {{artist.name}}</p></label>
                            </div>
                            <div class="lowerAC">
                                <div *ngFor="let album of artist.albumImages">
                                    <img [src]="album.url">
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <p></p>
                <ngb-carousel
                    *ngIf="artists && artists.length==0"
                    [showNavigationArrows]="false"
                    [showNavigationIndicators]="false"
                    [interval]="0"
                    class="noH"
                >
                    <ng-template ngbSlide>
                        <div class="noArtistsFound">
                            <div class="noArtistsFoundMessage">
                                No music related artist details to show
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <p></p>
            </mat-tab>
            
            
            <mat-tab label="Venue"> 
                <div id="outterContainerVenueDetails">
                    <div id="innerLeftContainerVenueDetails">
                        <label *ngIf="venueDetails.name != undefined && venueDetails.name.length > 0">Name</label>
                        <div *ngIf="venueDetails.name != undefined && venueDetails.name.length > 0">{{venueDetails.name}}</div>
                        <label *ngIf="venueDetails.address != undefined && venueDetails.address.length > 0">Address</label>
                        <div *ngIf="venueDetails.address != undefined && venueDetails.address.length > 0">{{venueDetails.address}}</div>
                        <label *ngIf="venueDetails.phoneNumber != undefined && venueDetails.phoneNumber.length > 0">Phone Number</label>
                        <div *ngIf="venueDetails.phoneNumber != undefined && venueDetails.phoneNumber.length > 0">{{venueDetails.phoneNumber}}</div>
                    </div>
                    <div id="innerRightContainerVenueDetails">
                        <label *ngIf="venueDetails.openHours != undefined && venueDetails.openHours.length > 0">Open Hours</label>
                        <div *ngIf="venueDetails.openHours != undefined && venueDetails.openHours.length > 0">
                            <p [ngClass]="{'limitTextHeight': readMoreOpenHours}">{{venueDetails.openHours}}</p>
                            <a href="javascript:;" *ngIf="readMoreOpenHours" (click)="togleReadMoreOpenHours()"> Read More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg></a>
                            <a href="javascript:;" *ngIf="!readMoreOpenHours" (click)="togleReadMoreOpenHours()">Read Less <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                              </svg></a>
                        </div>
                        <label *ngIf="venueDetails.generalRule != undefined && venueDetails.generalRule.length > 0">General Rule</label>
                        <div *ngIf="venueDetails.generalRule != undefined && venueDetails.generalRule.length > 0">
                            <p [ngClass]="{'limitTextHeight': readMoreGeneralRule}">{{venueDetails.generalRule}}</p>
                            <a href="javascript:;" *ngIf="readMoreGeneralRule" (click)="toggleReadMoreGeneralRule()"> Read More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg></a>
                            <a href="javascript:;" *ngIf="!readMoreGeneralRule" (click)="toggleReadMoreGeneralRule()">Read Less <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                              </svg></a>
                        </div>
                        <label *ngIf="venueDetails.childRule != undefined && venueDetails.childRule.length > 0">Child Rule</label>
                        <div *ngIf="venueDetails.childRule != undefined && venueDetails.childRule.length > 0">
                            <p [ngClass]="{'limitTextHeight': readMoreChildRule}">{{venueDetails.childRule}}</p>
                            <a href="javascript:;" *ngIf="readMoreChildRule" (click)="toggleReadMoreChildRule()"> Read More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg></a>
                            <a href="javascript:;" *ngIf="!readMoreChildRule" (click)="toggleReadMoreChildRule()">Read Less <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                              </svg></a>
                        </div>
                    </div>
                </div>
                <div class="bottonFooter">
                    <button class="btn btn-danger" (click)="open()">Launch demo modal</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>