#container ul{
    background-color: none;
    display: flex;
    justify-content: flex-end;
}

#container ul a{
    color: white;
    margin-top: 5px;
    margin-right: 10px;
}

.active{
    border: 1px solid white;
    border-radius: 7px;
}

#mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#container{
    width: 100%;
}