<div id="container">
    <ul ngbNav #nav="ngbNav">
        <li ngbNavItem>
          <a ngbNavLink>Search</a>
          <ng-template ngbNavContent><event-search></event-search></ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Favorites</a>
          <ng-template ngbNavContent><favorites></favorites></ng-template>
        </li>
    </ul>
    <div id = "mainContainer">
      <div [ngbNavOutlet]="nav" style="width: 100%;"></div>
    </div>
</div>
<router-outlet></router-outlet>