th, td{
    text-align: center;
    font-size: 14px;
}

tr:hover{
    background-color: #e6e9ec;
}

table{
    margin-top: 40px;
    background-color: white;
    border-radius: 0.5em;
    border: none;
    width: 70%;
}

.delete-icon:hover{
    cursor: pointer;
}

#fav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.noEventsToShow{
    background-color: white;
    border-radius: 20px;
    color: red;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 60px;
    width: 50%;
    display: flex;
    font-weight: 500;
    justify-content: center;
}

.noEventsToShow p{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 620px) {

    table{
        width: 100%;
    }

    .noEventsToShow{
        width: 100%;
    }
}